<section class="advantages section" id="advantages">
  <div class="container container-advantages">
    <h2 class="visually-hidden">Adavntages</h2>
    <div class="advantages-wrap">
      <ol>
        <li>Swimming and water sports: try your hand at water skiing</li>
        <li>Fishing: try to catch your own dinner</li>
        <li>
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </li>
        <li>
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </li>
      </ol>
      <picture>
        <source
          srcset="
            ./images/advantages/advan1x.png 1x,
            ./images/advantages/advan2x.png 2x
          "
          media="(min-width: 1440px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/advantages/advan1x.webp 1x,
            ./images/advantages/advan2x.webp 2x
          "
          media="(min-width: 1440px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/advantages/advan12801x.png 1x,
            ./images/advantages/advan12802x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/advantages/advan12801x.webp 1x,
            ./images/advantages/advan12802x.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/advantages/advantab1x.png 1x,
            ./images/advantages/advantab2x.png 2x
          "
          media="(max-width: 1279px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/advantages/advantab1x.webp 1x,
            ./images/advantages/advantab2x.webp 2x
          "
          media="(max-width: 1279px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/advantages/advanmob1x.png 1x,
            ./images/advantages/advanmob2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/advantages/advanmob1x.webp 1x,
            ./images/advantages/advanmob2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <img src="./images/advantages/advanmob1x.png" alt="room in the yacht" />
      </picture>
    </div>
  </div>
</section>
