.our-reviews {}

.container {
    min-width: 335px;
    padding-bottom: 80px;
}

.reviews {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 25px;

}

.reviews-text {

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 40px;
    opacity: 0.4;
}

.reviews-list {}

.container-reviews {
    background-color: #fbfbfb;
    border-radius: 24px;
    padding: 32px 8px;
}

.reviews-subtitul {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #040306;
    margin-top: 24px;
}

.reviews-item {
    /* width: calc((100%-52px) /3); */

}

.reviews-item-text {
    width: 303px;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(4, 3, 6, 0.4);
}

.reviews-img {
    border-radius: 72%;
    display: block;
    margin: auto;

}



.one {
    display: none;
}

.two {
    display: none;
}

@media screen and (min-width: 768px) {
    .container {
        padding-bottom: 150px;
    }

    .reviews {
        font-size: 48px;
        width: 704;

    }

    .reviews-text {
        font-size: 14px;
        line-height: 1.29;
        margin-bottom: 75px;
    }

    .reviews-list {
        display: flex;
        gap: 32px;
        align-items: center;
        justify-content: center;
    }

    .reviews-item {
        width: calc((100%-32px) /2);
    }

    .reviews-img {
        display: flex;
    }

    .one {
        display: flex;
        gap: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .reviews {
        width: 854px;
    }

    .reviews-list {
        gap: 32px;

    }

    .reviews-item {
        width: calc((100%-64px) /3);
    }

    .two {
        display: flex;
        gap: 32px;
    }
}